ul {
  list-style: none;
}

li {
  cursor: pointer;
  position: relative;
}

li.active {
  color: red;
}

li.inactive {
  color: green;
}

#error {
  display: none;
  border: 1px solid red;
  color: red;
  width: 400px;
  padding: 5px;
}

.finished {
  color: gray;
  text-decoration:line-through;
}